@import "mixins";
@import "variables";

html, body, #main {
  @include full-screen-absolute();
  font-family: 'Trirong', serif;
  background-color: #F2F2F2;
}

.input-error-highlight {
  border: 2px solid $error-color1 !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
  display: none;
}

// Get rid of arrows on number inputs.
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

a {
  color: $link-color1;

  &:hover {
    cursor: pointer;
  }
}

// Placeholder colors.
::-webkit-input-placeholder {
  color: $placeholder-color1;
}

:-moz-placeholder { /* Firefox 18- */
  color: $placeholder-color1;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $placeholder-color1;
}

::-ms-input-placeholder {
  color: $placeholder-color1;
}
