// Avoid naming variables "main-grey", "or light-grey", it's best to not have
// the color in the variable name, that way it's easier to change color schemes
// without having your "light-grey" be blue...
$color1: #4285F4;
$color2: #0F9D58;
$color3: #4A8CF7;
$color4: #5F5F5F;
$color5: #EF6C00;
$color6: #898984;

$link-color1: #427FED;
$placeholder-color1: #A9A9A9;
$error-color1: #ff0033;

// At what point should your website stop adjusting to the size and start
// becoming "scrolly".
$min-width-supported: 320px;
$min-height-supported: 540px;
