@import "../Styles/variables.scss";

.dropdown {
  width: 270px;
  position: absolute;
  left: 25px;
  text-align: center;
  z-index: 100;

  .dropdown-box {
    background-color: white;
    color: $placeholder-color1;
    border-radius: 3px;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    margin-top:  2px;

    &:hover {
      color: $color4;
    }
  }
}
