.dropdown {
  width: 270px;
  position: absolute;
  left: 25px;
  text-align: center;
  background-color: white;
  z-index: 100;

  .dropdown-box {
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    margin-top:  2px;
  }
}
