.select {
  position: absolute;
  display: inline-block;
  border: 2px solid black;
  width: 120px;
  text-align: center;
  z-index: 1000;

  .select-title {
    width: 120px;
    cursor: pointer;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .select-item {
    position: relative;
    display: block;
    width: 120px;
    cursor: pointer;
    border-top: 2px solid black;
    background-color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
