@import '../../Styles/mixins';
@import '../../Styles/variables';


$break1: 900px;
$break2: 800px;
$break3: 650px;
$break4: 600px;
$break5: 500px;
$break6: 400px;

.home-component-wrapper {

  @include full-screen-absolute();

  .home-component {
    background-color: transparent;
    height: 100%;
    min-width: 320px;

    .nav {
      width: 100%;
      min-width: 320px;
      height: 50px;
      color: white;

      .nav-btn {
        display: inline-block;
        box-sizing: border-box;
        height: 30px;
        margin: 10px 13px 0 13px;
        font-size: 26px;

        @include ifEqualOrSmallerThan($break6) {
          width: 25%;
          margin-left: 0px;
          margin-right: 0px;
          text-align: center;
        }

        .nav-btn-text {
          position: relative;
          display: inline-block;
          vertical-align: top;
          padding-top: 2px;
          padding-left: 3px;
          color: white;

          @include ifEqualOrSmallerThan($break4) {
            font-size: 18px;
            padding-top: 7px;
          }
        }

        .nav-btn-icon {
          font-size: 32px;
          color: white;

          @include ifEqualOrSmallerThan($break4) {
            padding-top: 3px;
            font-size: 26px;
          }

          @include ifEqualOrSmallerThan($break5) {
            display: none;
          }
        }

        &.selected {
          border-bottom: 3px solid $background-color1;
          box-sizing: content-box;
          padding-bottom: 7px;
        }

        &:hover {
          cursor: default;
        }
      }
    }

    .sub-bar {
      display: block;
      width: 100%;
      height: 80px;
      padding-top: 15px;

      @include ifEqualOrSmallerThan($break1) {
        height: 60px;
      }

      @include ifEqualOrSmallerThan($break3) {
        height: 130px;
      }

      .sub-bar-button {
        text-align: center;
        color: $placeholder-color1;
        position: relative;
        display: inline-block;
        padding-top: 25px;
        width: calc(25% - 20px);
        height: 50px;
        background-color: white;
        margin-left: 15px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        cursor: pointer;
        font-size: 22px;

        @include ifEqualOrSmallerThan($break1) {
          padding-top: 5px;
        }

        @include ifEqualOrSmallerThan($break3) {
          width: calc(50% - 20px);
          margin-bottom: 10px;
        }

        .sub-bar-button-add-word {
          @include ifEqualOrSmallerThan($break1) {
            display: none;
          }
        }

        .sub-bar-button-name {
          @include ifEqualOrSmallerThan($break1) {
            display: inline-block;
            vertical-align: top;
            padding-top: 11px;
          }

          @include ifEqualOrSmallerThan($break2) {
            padding-top: 15px;
            font-size: 16px;
          }
        }

        &:hover {
          cursor: pointer;
          color: $color4;
          transition-delay: 0.05s;
        }

        .plus-icon {
          display: inline-block;
          margin-top: 5px;
          font-size: 32px;

          @include ifBiggerThan($break1) {
            display: none;
          }

          @include ifEqualOrSmallerThan($break2) {
            font-size: 24px;
            margin-top: 10px;
          }
        }
      }

      .sub-bar-button-selected {
        color: black !important;
      }
    }

    .home-card-input {
      position: relative;
      left: -2px;
      display: block;
      background-color: white;
      margin: auto;
      margin-top: 8px;
      width: calc(50% - 24px);
      height: 100px;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      text-align: center;

      @include ifEqualOrSmallerThan($break3) {
        width: calc(100% - 24px);
        margin-top: 0;
        left: 3px;
      }

      .error-box {
        position: absolute;
        font-size: 12px;
        right: 10px;
        top: 35px;
        width: 120px;
        height: 50px;
        text-align: right;
      }

      .close-icon {
        position: absolute;
        right: 0;
        color: $color4;
        cursor: pointer;

        &:hover {
          color: black;
        }
      }

      .details-title {
        position: absolute;
        text-align: right;
        left: 10px;
        top: 10px;
        font-size: 18px;
        color: $color4;
        border-bottom: 2px solid $color4;

        @include ifEqualOrBiggerThan($break6) {
          font-size: 22px;
        }

        @include ifEqualOrBiggerThan($break5) {
          left: 50%;
          transform: translateX(-50%);
        }

        @include ifEqualOrBiggerThan($break3) {
          left: 10px;
          transform: none;
        }

        @include ifEqualOrBiggerThan($break1) {
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .add-x-button {
        position: absolute;
        right: 5px;
        top: 75px;
      }

      .add-earning-amount-input-title, .add-expenditure-amount-input-title {
        position: absolute;
        left: 10px;
        top: 48px;
        color: $color4;
        font-size: 14px;
      }

      .add-earning-amount-input, .add-expenditure-amount-input {
        position: absolute;
        left: 75px;
        top: 46px;
        width: 50px;

        @include standard-input();
      }

      .add-earning-employer-select-title, .add-expenditure-category-select-title {
        position: absolute;
        left: 10px;
        top: 75px;
        color: $color4;
        font-size: 14px;
      }

      .select {
        position: absolute;
        left: 85px;
        top: 70px;
        border: 2px dotted $placeholder-color1;
        color: $placeholder-color1;
        width: 80px;
        height: 20px;

        .select-title {
          position: absolute;
          width: 80px;
          left: 0;
        }

        &:hover, &:focus {
          transition: 0.3s;
          border-color: $color4;
          color: $color4;
        }

        .select-item {
          left: -2px;
          top: -2px;
          color: $placeholder-color1;
          border: 2px dotted $placeholder-color1;
          border-top: none;
          border-left-style: solid;
          border-right-style: solid;

          &:hover {
            color: $color4;
          }
        }

        .first-item {
          border: 2px solid $placeholder-color1;
        }

        .last-item {
          border-bottom: 2px solid $placeholder-color1;
        }

        .no-options-item {
          white-space: normal;
          height: 40px;
          color: $error-color1;

          &:hover {
            color: $error-color1;
            cursor: not-allowed;
          }
        }
      }

      .add-employer-input {
        position: absolute;
        left: 60px;
        width: 80px;
        top: 70px;
        color: $color4;
        font-size: 14px;
        @include standard-input();
      }

      .add-employer-input-title {
        position: absolute;
        left: 10px;
        top: 75px;
        color: $color4;
        font-size: 14px;
      }

      .add-category-name-input-title {
        position: absolute;
        left: 10px;
        top: 55px;
        color: $color4;
        font-size: 14px;
      }

      .add-category-name-input {
        @include standard-input();
        position: absolute;
        left: 60px;
        top: 50px;
        color: $color4;
        font-size: 14px;
        width: 80px;
      }

      .add-category-goal-title {
        position: absolute;
        left: 10px;
        top: 76px;
        color: $color4;
        font-size: 14px;
      }

      .add-category-goal-amount-input {
        @include standard-input();
        position: absolute;
        top: 75px;
        left: 50px;
        width: 50px;
      }

      .add-category-goal-day-input {
        @include standard-input();
        position: absolute;
        top: 75px;
        left: 112px;
        width: 30px;
      }

      .add-category-goal-input-seperator {
        position: absolute;
        color: $placeholder-color1;
        top: 75px;
        left: 105px;
      }
    }

    .feed-title {
      display: block;
      text-align: center;
      color: $color4;
      font-size: 32px;
      font-weight: bold;
      margin-top: 10px;
    }

    .feed-sub-title {
      display: block;
      text-align: center;
      color: $placeholder-color1;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px;

      .money {
        color: $color2;
      }
    }

    .feed {
      margin: auto;
      display: block;
      width: 100%;
      text-align: center;

      .feed-item {
        display: inline-block;
        width: 500px;
        height: 100px;
        border: 2px solid black;
        border-radius: 5px;
        margin-bottom: 50px;
      }
    }

    .goals {
      text-align: center;

      .goal-category {
        width: 500px;
        height: 170px;
        border: 2px solid black;
        border-radius: 5px;
        margin: auto;
        margin-top: 20px;
      }
    }
  }
}
