@import '../../Styles/mixins';
@import '../../Styles/variables';


.welcome-component-wrapper {
  @include full-screen-absolute();

  .welcome-component {
    @include absolutely-centered-min-box();
    border-radius: 5px;

    text-align: center;

    .welcome-title {
      font-family: 'Roboto Slab', serif;
      font-weight: bold;
      font-size: 30px;
      width: 440px;
      padding-top: 55px;
      margin-left: -60px;
      margin-bottom: 20px;

      .blue {
        color: $color1;
      }

      .green {
        color: $color2;
      }
    }

    .sub-title {
      font-family: 'Roboto Slab', serif;
      color: $color4;
      margin-bottom: 20px;
      font-weight: bold;
    }

    .welcome-form {
      $form-width: 270px;

      input {
        background-color: white;
        border: none;
        display: block;
        text-align: center;
        margin: auto;
        width: $form-width;
        height: 53px;
        border-radius: 5px;
        margin-bottom: 15px;
        font-size: 20px;
      }

      button {
        @include stanard-button();
      }
    }

    a {
      display: block;
      position: relative;
      margin-top: 10px;
      font-size: 16px;
      text-decoration: underline;
    }

    @media screen and (max-width: 440px) {
      .welcome-title {
        width: 310px;
        font-size: 26px;
        margin-left: 0;
      }
    }

    @media screen and (max-width: 370px) {
      .welcome-title {
        font-size: 22px;
      }

      .sub-title {
        font-size: 14px;
      }
    }
  }
}
