@import '../../Styles/mixins';
@import '../../Styles/variables';


.new-component-wrapper {

  @include full-screen-absolute();

  .new-component {
    @include absolutely-centered-min-box();
    text-align: center;

    button {
      @include stanard-button();
    }

    .selected-categories-title {
      color: $color3;
      margin-bottom: 10px;
      font-size: 12px;
    }

    .new-title {
      color: $color4;
      font-family: 'Roboto Slab', serif;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .set-goal-title {
      margin-top: 25px;
      margin-bottom: 10px;
    }

    .new-header {
      margin-top: 35px;

      button {
        margin-top: 10px;
      }

      .plus-icon {
        position: absolute;
        right: 27px;
        top: -53px;
        font-weight: bold;
        cursor: pointer;
      }

      .pad-title {
        margin-top: 120px;
      }

      .selected-categories-list {
        position: absolute;
        left: 25px;
        width: 270px;
        text-align: center;
        margin-top: -170px;
        height: 100px;
        overflow-y: scroll;
      }

      input {
        border: none;
        background-color: white;
        display: block;
        text-align: center;
        margin: auto;
        width: 270px;
        height: 53px;
        border-radius: 5px;
        margin-bottom: 15px;
      }
    }

    button {
      margin-top: 15px;
    }

    $category-list-max-height: 376px;

    .new-category-list {
      max-height: $category-list-max-height;
      width: 320px;
      overflow: hidden;

      .new-category-list-hide-scroll {
        width: 320px;
        overflow-y: auto;
        padding-right: 50px;
        max-height: $category-list-max-height;
      }
    }

    .new-category {
      position: relative;
      width: 270px;
      height: 80px;
      margin: 12px auto;
      background-color: white;
      color: $placeholder-color1;
      // check out this codepen: https://codepen.io/sdthornton/pen/wBZdXq
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

      textarea:focus, input:focus{
          outline: none;
          border-bottom: 2px solid $color4;
      }

      input {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: 1px solid $placeholder-color1;
      }

      .money-icon {
        position: absolute;
        font-size: 18px;
        left: 75px;
        top: 5px;
      }

      .new-category-name {
        position: absolute;
        top: 5px;
        left: 10px;
        font-size: 20px;
        font-style: italic;
      }

      .new-category-entry-area {
        position: absolute;
        width: 220px;
        top: 49px;
        right:  15px;
        text-align: right;

        .new-category-dollar-sign {
          display: inline-block;
        }

        .new-category-goal-input {
          display: inline-block;
          width: 40px;
          text-align: center;
        }
      }
    }
  }
}
