@import '../../Styles/mixins';
@import '../../Styles/variables';


.new-component-wrapper {

  @include full-screen-absolute();

  .new-component {
    @include absolutely-centered-min-box();
    text-align: center;

    button {
      display: block;
      height: 30px;
      width: 270px;
      margin: auto;
      color: white;
      background-color: $color3;
      border: none;
      font-size: 15px;

      &:disabled {
          cursor: not-allowed;
      }
    }

    .selected-categories-title {
      color: $color3;
      margin-bottom: 10px;
      font-size: 12px;
    }


    .new-header {
      margin-top: 120px;

      .new-title {
        color: $color4;
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .selected-categories-list {
        position: absolute;
        left: 25px;
        width: 270px;
        text-align: center;
        margin-top: -170px;
        height: 100px;
        overflow-y: scroll;
      }

      input {
        border: none;
        background-color: white;
        display: block;
        text-align: center;
        margin: auto;
        width: 270px;
        height: 53px;
        border-radius: 5px;
        margin-bottom: 10px;
      }

      .dropdown {
        top: 320px;
      }

      .add-custom-category-button {
        position: absolute;
        right: 30px;
        top: 230px;
        cursor: pointer;
        font-size: 150%;
      }
    }

    .new-category {
      position: relative;
      width: 270px;
      height: 53px;
      margin: 10px auto;
      border-radius: 5px;

      .new-category-name {
        position: absolute;
        top: 5px;
        left: 10px;
        font-size: 20px;
      }

      .new-category-entry-area {
        position: absolute;
        width: 190px;
        top: 29px;
        right:  5px;
        text-align: right;

        .new-category-dollar-sign {
          display: inline-block;
        }

        .new-category-goal-input {
          display: inline-block;
          width: 40px;
          text-align: center;
        }
      }
    }
  }
}
